
.cardcontain{
    display: flex;
    flex-wrap: wrap;
    
    justify-content: space-between;
}


.card{
    height: 20rem;
}

.own_img{
    height: 10em;
    width: auto;
}

.card-body{
    background-color: lightgray;
    align-items: center;
}