
<div class="cardcontain">

<div class="card" style="width: 18rem;">
    <img src="assets/imgfolder/imgburger.png" class="card-img-top own_img" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and</p>
      <a href="#" class="btn btn-primary">7$</a>
    </div>
</div>


<div class="card" style="width: 18rem;">
  <img src="assets/imgfolder/imgburger.png" class="card-img-top own_img" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and</p>
    <a href="#" class="btn btn-primary">7$</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="assets/imgfolder/imgburger.png" class="card-img-top own_img" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and</p>
    <a href="#" class="btn btn-primary">7$</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="assets/imgfolder/imgburger.png" class="card-img-top own_img" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and</p>
    <a href="#" class="btn btn-primary">7$</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="assets/imgfolder/imgburger.png" class="card-img-top own_img" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and</p>
    <a href="#" class="btn btn-primary">7$</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="assets/imgfolder/imgburger.png" class="card-img-top own_img" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and</p>
    <a href="#" class="btn btn-primary">7$</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="assets/imgfolder/imgburger.png" class="card-img-top own_img" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and</p>
    <a href="#" class="btn btn-primary">7$</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="assets/imgfolder/imgburger.png" class="card-img-top own_img" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and</p>
    <a href="#" class="btn btn-primary">7$</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="assets/imgfolder/imgburger.png" class="card-img-top own_img" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and</p>
    <a href="#" class="btn btn-primary">7$</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="assets/imgfolder/imgburger.png" class="card-img-top own_img" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and</p>
    <a href="#" class="btn btn-primary">7.00$</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="assets/imgfolder/imgburger.png" class="card-img-top own_img" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and</p>
    <a href="#" class="btn btn-primary">7$</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="assets/imgfolder/imgburger.png" class="card-img-top own_img" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and</p>
    <a href="#" class="btn btn-primary">7$</a>
  </div>
</div>



</div>